<html>
[% title = "ACTIVATION PHRASE: GORILLA NEST" %]
[% description = "Git In The Gorilla Nest!" %]
[% INCLUDE head.tt %]
<body>
<h1>[% title %]</h1>
<h2>[% description %]</h2>
<ul>[% FOR i IN directories %]<li><a href="/[% i %]">/[% i %]</a></li>[% END %]</ul>
</body>
[% INCLUDE foot.tt %]
</html>
