<html>
[% title = "/${name}/${repository}" %]
[% INCLUDE head.tt %]
<body>
  <h1>[% title %]</h1>
  <p> Eventually this page will have something on it, RIGHT?!</p>
</body>
[% INCLUDE foot.tt %]
</html>
