<html>
[% title = "/${username}/${repository}" %]
[% INCLUDE head.tt %]
<body>
  <h1>[% title %]</h1>
  <ul>[% FOR i IN log %]<li>[% i %]</li>[% END %]</ul>
  <p> Eventually this page will have something on it, RIGHT?!</p>
</body>
[% INCLUDE foot.tt %]
</html>
