<html>
[% title = "ACTIVATION PHRASE: GORILLA NEST" %]
[% description = "Git In The Gorilla Nest!" %]
[% INCLUDE head.tt %]
<body>
[% INCLUDE header.tt %]
    <div>
        Content:
        <ul>
            [% FOR i IN repositories %]
            <li><a href=[% to_link(i) %]>[% to_name(i) %]</a></li>
            [% END %]
        </ul>
    </div>
[% INCLUDE footer.tt %]
</body>
</html>
