<html>
[% INCLUDE html_head.tt %]
<body>
[% INCLUDE header.tt %]
  <h3>[% path %]</h3>
  <div class=file>
    <pre><code>[% content %]</code></pre>
  </div>
[% INCLUDE footer.tt %]
[% INCLUDE "enable-highlighting.tt" %]
</body>
</html>
