<html>
[% title = "User ${username}" %]
[% INCLUDE html_head.tt %]
<body>
    <h1>[% title %]</h1>
    <ul>
        [% FOR i IN repositories %]
        <li><a href="[% to_link(i) %]">[% i %]</a></li>
        [% END %]
    </ul>
    [% INCLUDE footer.tt %]
</body>
</html>
