<html>
[% title = "ACTIVATION PHRASE: GORILLA NEST" %]
[% description = "Git In The Gorilla Nest!" %]
[% INCLUDE html_head.tt %]
<body>
[% INCLUDE header.tt %]
<div>
    <center>
        <h1>[% title %]</h1>
        <h2>[% description %]</h2>
        <pre style="text-align: left"><code>
                       .  *   % @ - .@-            @:  :    :      @.
                  :     .     @. -.     -           ++       =     %@ @:
              .   .       *. -+%-       -- @    ..   +=       =@-    =@-
          ... :       .:. *                 ::    =   =-       .@+     @=.
          ::     .-:-:.:=   -                 @*   @@  -=       @@+-   ==
          **     :-. :--*+=              .     :+   +.           **=-   +::
       :.==..=+=-:-:.::=+=+               ..     :   :  .   .    :+== = +-
      .+@%+--:   ..    .:::.                           ..         .*=    =:
     .=@+    .*==    :==-::.                      ..-::: ..:    .  ::    =
  ..===-.:.+++-   -+*+==::.         .                  ::           -    =-
    =. :+++==+@@%%@++-:-....                                        %=   @-
    .:-+*@@*@@*=---=+-.... .                                        -+   =-
  *+.   -  +:=  -@@**              =+=%%%@@@@@@+:                   -.   =-
   ::..+@  :=.  :@%@@@@@@@@*=.  =++--=@@*+-:=**@@*@*=---:::.        @-    -
  @=:-:=@: +@=+-  .--..-::-*@@@@@%*@@-.    .=-:=+++**+-.=**%@@@@@@  @:  @*:
  *@*+==@+:*+-----@*-       .:---=@@ :+@@@@@*@**@*@:    :*%@@==-=%@@%:   .:
  =   +=   +*@%%+.-@=              =        :+*+=  @@@@@@%  --.  +  :-  :--:-::.:...
  .   *%  :@*@%= :@%%.  ..         @ :**+++++*-    @+  -@**@@@%@@=    @+ .-----.:.::      +-----------------------+
  @%*-@@  -@@%+    :-.     ..       *  .:-:-..    =@    @+-.      :@@ %%%------=----      |                       |
  =*=-+@.      %*               :.  *@       .   @@      :=++++: -*@. @:.::-:-:-::::      |                       |
  :++:::@+             ..    ...:..   ***_      @        -  ..   @-  =-.---:::------______|   WELCOME TO GORILLA  |
        *@@        ..   ..   ....         -*@@@@-        +@^^*      @*                        NEST ,              |
         *%@@+@@@....   ::...:...     ..-:-+++            = :==**@@@+=              ______,                       |
         :-=@  =@      ..:........  ..:-=++**+-+@**++-.   .=.     *----:----====++==      |                       |
         --==   :    .. ....:::::::.:::-=+-:..-@@@@%%%%@@@+=:.    +--===-------=++==      +-----------------------+
         *@%.      ...... .  ..:::..:..:..  ...----==+*+  :-.    @+--========-:-++=-
           @       ...... .....:: .   ::--=:--=+@@%@@+=-  :-:   ++=
         +*           .   ....:--::. :++**=. .  :    :+*=      -+-
         @=       .....:..:....:-.  *%@%@@@@@@%@@++++*+++==   .==
        %@+       .-::::.. ....:::.=%%*+-  -@@@@%@%@@@@%@%@+ :-==
     @@@@         .-=-----.  . ::--+**-.::.   =@@@@@@@=+*%= :%@+
-*%@@@*           .:-:::::-:::.:-==**+=-..++-          ==. :==           I CAN BELIEVE
:.              .  ::...:::..::..:-=--:-:-*%@@%=---====+-:--                 TOO         YOU
+@@-             -.:==::::::--...  :.  . .:=%%@@@@@@=-=--=+                    SOFTWARE WORKS
--+@@@*       .   .=-++=------::: .:          --=:  -==-++
=+++*%@@@=      :   *-++=====++++++@+==++-. .. .    -=-:                    !T JUST WORKS ¡
***+*+=+%@@@=    ::   @@@*+++++*@@*@%@@@@@**++++++--=-=-
++++**+++++@@@@%        @@@*@@*+@****@@@@%%%%@%%@@@*%*
===+++********@@@@.   .   :+**@@@@@@@@@@@@@@@@@@@%@@@%
++++*+********++*%@@@    ..::=*+****@*%%%%%%%@@@@@=  =@
======++*@++**+****@@@@@   .:-==++====-++*+@%+-   :=+   :++
===+==+++*************@@@@@:.-===++++*****++:.: :@.+@**  :++
+++++=++=+=****+*+*****+@@@@@=::--====-----:.::  @:::**@*  :++
*****+++++=++++***@**@*****@@@@@%=-:::.:.. .:.   @=-..*@***=:-%
**+****+++++*****+***********@*@@%@%@+           @+*=- -%++++--*@
+++******++++++*+*+********@******@@%@@@@@-    -@@+*+*+ -@*=++=-=%
*********+*****+*+**+**************++***%@@@@@@@@@+++++*:.*****+=*@            ((( HE COULDN'T GIT CLONE ALWAYS )))
++admin@chud.cyou***+*********@*****@***+++**+*+**+++==**=:=+++*+=*%@          (((     NO HIM STOPPING NOW      )))
*****+*+*@@*+*******+@@*+********@****@++*++++++++*+**==*++-*+=+++=*%*
*+++****+@***++***+***+++********+++*+****++*+*+*+++++==+++++*@+++==@%

*         WKꓵΓꓕᖉⱯ ACTIVATION TRANMISSION RECIEVED: GO RI LL A_ NE ST         *
* Copyright 2025-∞ People's Republic of Magyarország & Emil's Email Services *

---

Gitea broke so I had a low wage hungarian programmer write this.

---
        </code></pre>
    </center>
</div>
[% INCLUDE footer.tt %]
</body>
</html>
