<html>
[% title = "/${username}/${repository}" %]
[% INCLUDE html_head.tt %]
<body>
[% INCLUDE header.tt %]
  <h1>[% title %]</h1>

  <p>[% h_repository.description %]</p>

  <p>Branches:</p>
  <ul>
    [% FOREACH k IN h_repository.branches %]
      <li>[% k.name %]</li>
    [% END %]
  </ul>

  <p>Files:</p>
  <ul>
    [% FOR i IN h_repository.files %]
      <li>[% i %]</li>
    [% END %]
  </ul>

  <p>Clone: <span style='user-select: all'>[% clone %]</span></p>

  <h3>README</h3>
  <div class=readme>
    [% readme %]
  </div>
[% INCLUDE footer.tt %]
</body>
</html>
