<html>
[% INCLUDE html_head.tt %]
<body>
[% INCLUDE header.tt %]
  <h1 class="repository-name">[% h_repository.name %]</h1>

  <p class="repository-clone"><b>Clone: </b><span style='user-select: all'>[% clone %]</span></p>

  <p class="repository-description">[% h_repository.description %]</p>

  <div class="repository-info-section">
    <h3>Branches:</h3>
    <ul>
      [% FOREACH k IN h_repository.branches %]
        <li>[% k.name %]</li>
      [% END %]
    </ul>
  </div>

  <div class="repository-info-section">
   <h3>Files:</h3>
   <ul>
     [% FOR i IN h_repository.files %]
       <li><a href="files/[% i %]">[% i %]</a></li>
     [% END %]
   </ul>
  </div>

  <div class="repository-info-section">
    <h3>Commits:</h3>
    <div>
      [% h_repository.branches.first.commits.size %] commits on record </br>
      <h4>Latest commit:</h4>
          [% h_repository.branches.first.commits.first.author %] -
          [% h_repository.branches.first.commits.first.message %]
          [% h_repository.branches.first.commits.first.hash.substr(0,6) %]
          <relative-time datetime=[% h_repository.branches.first.commits.first.date %]>
          </relative-time>
          </br>
      <h4>First commit:</h4>
          [% h_repository.branches.first.commits.last.author %] -
          [% h_repository.branches.first.commits.last.message %]
          [% h_repository.branches.first.commits.last.hash.substr(0,6) %]
          <relative-time datetime=[% h_repository.branches.first.commits.last.date %]>
          </relative-time>
          </br>
    </div>
  </div>

  <h3>README</h3>
  <div class=readme>
    [% readme %]
  </div>
  <script type="module" src="/relative-time-element.bundle.js"></script>
[% INCLUDE footer.tt %]
[% INCLUDE "enable-highlighting.tt" %]
</body>
</html>
